@import "https://fonts.googleapis.com/icon?family=Material+Icons";

@font-face {
  font-family: 'copy'; 
  src: url('../fonts/Roboto-Light.ttf'); 
}

@font-face {
  font-family: 'copyBold'; 
  src: url('../fonts/Roboto-Medium.ttf'); 
}

@font-face {
  font-family: 'header'; 
  src: url('../fonts/LEMONMILK-Medium.otf'); 
}

body { 
  margin: 0; 
  font-size: 1.3rem;
  background-color: #222222;
  box-sizing: border-box;
}

p {
  overflow: scroll;
}



#webgl-error-message {
  text-align: center;
  background: #fff;
  color: #000;
  padding: 1.5em;
  width: 400px;
  margin: 5em auto 0;
}

#headerContainer {
  position: absolute;
  top: 70px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  font-family: 'header';
  font-size: 6rem;
  margin: 0;
  color: white;
}

.subheader {
  font-family: 'subheader';
  font-size: 2rem;
  margin: -2rem 0 0 0;
  color: white;
}

#bgImg {
  height: 100vh;
  width: 100vw;
  background-size:100%;
}

.sectionContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  padding: 0 10%;
  align-items: center;
}

#inspectContainer {
  background-color: #222;
  display: flex;
  flex-direction: row;
}

#THREEInspContainer {
  z-index: 99;
  padding: 0;
  border-radius: 1.5rem;
  border: solid #222 4px;
  overflow: hidden;
  /* cursor: none; */
  cursor: url('../textures/inspectorCursor32.png') 16 16, auto;
}
#THREEInspWindow {
  width: 600px;
  height: 500px;
}

#debugPane {
  position: fixed;
  top: 100px;
  left: 10px;
}

#inspectTextArea {
  width: 40vw;
  padding: 0 1rem;
}

H3 {
  font-family: header;
  color: white;
  font-size: 1.75rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.inspectCopy {
  padding: 0 1rem;
  font-family: copy;
  color: #ddd;
  font-size: 1rem;
  border-left: solid #ddd 3px;
  word-break: break-word;
  overflow: hidden;
}

b {
  color: #fff;
  font-family: copyBold;
}

.inspectCard {
  width: 40vw;
  position: absolute;
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 400ms, transform 400ms;
}

.inspectHidden {
  opacity: 0;
  transform: translateX(-100px);
}

.inspectVisible {
  opacity: 1;
  transform: translateX(0px);
  transition: opacity 900ms, transform 900ms;
}