@import "https://fonts.googleapis.com/icon?family=Material+Icons";

@font-face {
  font-family: 'copy'; 
  src: url('../fonts/Roboto-Light.ttf'); 
}

@font-face {
  font-family: 'header'; 
  src: url('../fonts/LEMONMILK-Medium.otf'); 
}

body { 
  font-family: monospace;
  margin: 0; 
  font-size: 1.3rem;
  font-weight: normal;
  background-color: #222222;
  box-sizing: border-box;
}

code {
  font-family: Consolas,"courier new";
  color: crimson;
  background-color: #f1f1f1;
  padding: 2px;
}

p {
  overflow: scroll;
}

.float {
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.float:hover {
  cursor: pointer;
}

.icon-float{
	margin-top:18px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.close-modal-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-modal-btn:hover,
.close-modal-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#webgl-error-message {
  text-align: center;
  background: #fff;
  color: #000;
  padding: 1.5em;
  width: 400px;
  margin: 5em auto 0;
}

#headerContainer {
  position: absolute;
  top: 70px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  font-family: 'header';
  font-size: 6rem;
  margin: 0;
  color: white;
}

.subheader {
  font-family: 'subheader';
  font-size: 2rem;
  margin: -2rem 0 0 0;
  color: white;
}

#bgImg {
  height: 100vh;
  width: 100vw;
  background-size:100%;
}

.sectionContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  padding: 0 10%;
  align-items: center;
}

#inspectContainer {
  background-color: #222;
  display: flex;
  flex-direction: row;
}

#THREEContainer {
  z-index: 99;
  padding: 0;
  border-radius: 1.5rem;
  border: solid #222 4px;
  overflow: hidden;
}
#THREEWindow {
  width: 600px;
  height: 500px;
}

#debugPane {
  position: fixed;
  top: 100px;
  left: 10px;
}

#inspectTextArea {
  width: 40vw;
  padding: 0 1rem;
}

H3 {
  font-family: header;
  color: white;
  font-size: 1.75rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.inspectCopy {
  padding: 0 1rem;
  font-family: copy;
  color: #ddd;
  font-size: 1rem;
  border-left: solid #ddd 3px;
  word-break: break-word;
  overflow: hidden;
}

.inspectCard {
  width: 40vw;
  position: absolute;
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 400ms, transform 400ms;
}

.inspectHidden {
  opacity: 0;
  transform: translateX(-100px);
}

.inspectVisible {
  opacity: 1;
  transform: translateX(0px);
  transition: opacity 900ms, transform 900ms;
}